body {
    font-family: Arial;
    margin: 20px auto;
    width: 60%;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

div.post a {
    text-decoration: underline;
    color: #999;
}

div.post {
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    margin: 0em;
    padding: 0em;
}

div.post img {
    display: block;
    margin: 0 auto;
    max-width: 38em;
    padding: 1em 0;
}

div.post ul {
    margin-top: -1em;
}



